* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/*  home page start  */
.nav-link {
  font-size: x-large;
  color: #333333;
}

.sectionOne {
  background-image: url("/assets/national-parks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.home-page-main {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.homePage-textContainer {
  text-align: center;
  padding: 20px;
  color: #333333;
  /* border: 1px solid black; */
}
.text {
  margin: 5px 0 5px 0px;
}
.size-medium {
  font-size: medium;
}
.size-large {
  font-size: Large;
}
.size-xx-large {
  font-size: xx-large;
}

.footer-text {
  width: fit-content;
}

@media (width <= 375px) {

  .sectionOne {
    background-image: url("/assets/national-parks.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 100vh;
  }
  .size-medium {
    font-size: 3vw;
  }
  .size-large {
    font-size: 4vw;
  }
  .size-xx-large {
    font-size: 5vw;
  }



}


/* home page end  */

/* search page begin  */
table {
  width: 100%;
  /* table-layout: fixed; */
}

th,
td {
  text-align: center;
  word-wrap: break-word;
}

/* search page end  */

/* mountains page  */
@media (width <= 375px) {
  main {
    margin-left: 0%;
  }

  /* body {
    overflow: hidden;
  } */
  
  .card {
    margin: 0;
    padding-bottom: 5px;
    /* border: 1px solid blue; */
    background-color: transparent;
    color: white;
    font-weight: bold;
  }
}
